.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gap-small) var(--gap-medium);
  font-weight: var(--font-weight-normal);
  font-size: var(--text-mobile-option);
  line-height: var(--line-height-mobile-option);
  border: none;
  cursor: pointer;
  transition: transform 0.1s, all 0.2s;
  user-select: none;
  background: transparent;
  width: var(--mobile-option-button-width);
  height: var(--mobile-option-button-height);
}

.button svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.button[data-state="idle"]:hover svg path {
  stroke: var(--color-primary);
}

.text {
  color: var(--foreground);
  z-index: 10;
  width: 100%;
  text-align: left;
  padding: 0 var(--gap-large);
}

.text strong {
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  margin-right: var(--gap-small);
}

@media (min-width: 768px) {
  .button {
    font-size: var(--text-desktop-button);
    padding: var(--gap-medium) var(--gap-large);
    width: var(--desktop-option-button-width);
    height: var(--desktop-option-button-height);
  }

  .text {
    font-size: var(--text-desktop-option);
    line-height: var(--line-height-desktop-option);
  }
}
