.rewards {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.2s ease;
  z-index: 100;
}

.rewardsMenuButton {
  position: absolute;
  top: var(--gap-medium);
  right: var(--gap-medium);
  width: 1.5rem;
  height: 1.5rem;
  z-index: 101;
  background-color: transparent;
  border: none;
  outline: none;
}

.rewardsMenuButton:hover {
  cursor: pointer;
} 

.hidden {
  visibility: hidden;
  opacity: 0;
}
.visible {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 768px) {
  .rewards {
    height: 100%;
    width: 30%;
  }
  .rewardsMenuButton {
    display: none;
  }
  .hidden, .visible {
    visibility: visible;
    opacity: 1;
  }

}

@media (min-width: 1024px) {
  .rewards {
    width: 25%;
    max-width: 376px;
  }
}
