.page {
  display: flex;
  text-align: center;
  background: linear-gradient(
    to bottom right,
    transparent 50%,
    var(--color-orange-5) 50%
  );
}

.image {
  width: 100%;
  height: auto;
}

.columnImage {
  align-self: flex-end;
}

.columnContent {
  align-self: flex-start;
}

@media (width >= 576px) {
  .page {
    text-align: left;
  }
  .columnImage {
    align-self: auto;
  }
  .columnContent {
    align-self: auto;
  }
}
