.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100svh;
  padding: var(--gap-xxlarge) 0;
  transform-origin: bottom left;
  transition: all 0.2s ease;
}

.question {
  font-size: var(--text-mobile-question);
  line-height: var(--line-height-mobile-question);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  padding: 0 var(--gap-large);
}

.info {
  text-align: center;
  margin-bottom: var(--gap-medium);
}

.options {
  display: flex;
  flex-direction: column;
}

.options button {
  margin-bottom: var(--gap-small);
}

.placeholder {
  width: 50%;
  height: var(--line-height-mobile-question);
  background: var(--color-border);
  border-radius: var(--border-radius-md);
}

@media (min-width: 768px) {
  .question {
    font-size: var(--text-desktop-question);
    line-height: var(--line-height-desktop-question);
    padding: 0;
  }
  .section {
    transform: scale(0.8);
    padding: var(--gap-xxlarge) var(--gap-large);
  }
  .container {
    width: 810px;
  }
  .options button {
    margin-bottom: var(--gap-medium);
  }
  .placeholder {
  height: var(--line-height-desktop-question);
}
}

@media (min-width: 1024px) {
  .section {
    transform: scale(0.9);
  }
  .options {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: calc(var(--gap-xxlarge) * 2)
      calc((var(--gap-large) + var(--gap-medium)) * 2);
    transform: scale(1);
  }
}
