.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: calc(var(--gap-xxlarge) * 2)
    calc((var(--gap-large) + var(--gap-medium)) * 2);
}

.question {
  font-size: var(--text-mobile-question);
  line-height: var(--line-height-mobile-question);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
}

.info {
  text-align: center;
  margin-bottom: var(--gap-medium);
}

.options {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .question {
    font-size: var(--text-desktop-question);
    line-height: var(--line-height-desktop-question);
  }
  .options {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .options button {
    margin-bottom: var(--gap-medium);
  }

  .container {
    width: 810px;
  }
}
