.section {
  background-color: var(--background);
  min-height: 100svh;
  display: flex;
  align-items: center;
  padding: var(--gap-large) 0;
}

.ladder {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--gap-small);
  width: 100%;
}
